<google-map #map 
height="{{screenHeight}}"
width="100%" 
[zoom]="zoom" 
[center]="center" 
[options]="options"
>
  
  <map-marker #marker="mapMarker"
  *ngFor="let mark of markers" 
  [position]="mark.markerPosition" 
  [options]="mark.markerOptions"
  (mapClick)="openInfoWindow(marker, mark)"></map-marker>
  <map-info-window><img src="{{ infoContent }}" alt="this slowpoke moves"  width="500px" /></map-info-window>

</google-map>

<!-- <button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
<button (click)="logCenter()">Log center</button>
<button (click)="addMarker()">Add marker</button> -->