<google-map #map 
height="{{screenHeight}}"
width="100%" 
[zoom]="zoom" 
[center]="center" 
[options]="options"
(mapClick)="addMarker($event)">
  
  <map-marker #marker="mapMarker"
  *ngFor="let markerPosition of markerPositions" 
  [position]="markerPosition" 
  [options]="markerOptions"
  (mapClick)="openInfoWindow(marker)"></map-marker>
  <map-info-window><img src="/assets/CarnavalMatskoGif.gif" alt="this slowpoke moves"  width="500px" /></map-info-window>

</google-map>

<!-- <button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
<button (click)="logCenter()">Log center</button>
<button (click)="addMarker()">Add marker</button> -->