<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false"
      position="end">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/dashboard" *ngIf="loggedIn;">Profile</a>
      <a #login mat-list-item href="/sign-in" *ngIf="!loggedIn;">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
    <mat-toolbar class="matNav" >
   <span class="fx-spacer"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
